*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* #1 Regular Weight */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	src: url("../assets/fonts/montserrat/Montserrat-Regular.otf");
}

/* #2 Italic Style */
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: normal;
	src: url("../assets/fonts/montserrat/Monserrat-Italic.otf");
}

/* #3 Bold Weight */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	src: url("../assets/fonts/montserrat/Montserrat-Bold.otf");
}

/* #4 Bold Italic Style */
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: bold;
	src: url("../assets/fonts/montserrat/Montserrat-BoldItalic");
}

html, body {
    color: #112D4E;
    font-family:'montserrat';
    background-color: #F9F7F7;
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3F72AF;
    margin: 0;
    text-decoration: none;
}

header h1 {
    font-weight:lighter;
    color:#F9F7F7;
}


/*styles for navigation*/

/*large screens*/
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}
/*small screens*/
@media all and (max-width: 800px) {
    .navigation {
        display: flex;
        flex-flow: column wrap;
    }
}

header nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 1.55vw;
    padding: 1em;
    color:#fff;
}

/*hero banner - large screen*/
.hero {
    background: url("images/bubbles.jpg") no-repeat center;
    height: 600px;
    width: 100% 100%;
    background-size: cover;
    position: relative;
}
/*small screens*/
@media screen and (max-width: 800px) {
    .hero {
        height: 300px;
        width: 100% 100%;
        background-size: cover;
        position: relative;
    }   
}

.hero-blurb {
    position: absolute;
    color: #F9F7F7;
    font-size: 4em;
    text-align: center;
    padding: 250px 50px;
    width: 100vw;
    text-shadow: 2px 4px 7px #112D4E;
}

@media screen and (max-width:800px) {
    .hero-blurb {
        position: absolute;
        font-size: 2em;
        margin: 5%;
        width: 90%;
        padding:50px;
    }
}

h2 {
    font-size: 3em;
}

/*about me section*/
.about-me {
    display: flex;
    flex-flow: row wrap;
    height: 250px;
    gap: 60px;
    margin: 50px;
     
}

.about-me aside {
    flex: 20%;
    padding: 0px 20px;
    margin: 20px;
    text-align: right;
    border-right: .3em solid black;
}

.about-me div {
    margin-top: 20px;
    margin-left: 20px;
    flex: 60%;
    font-size: 2em;
}

/*work section*/
.work {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
}

.work aside {
    flex: 20%;
    padding: 0px 20px;
    margin: 20px;
    text-align: right;
    border-right: .3em solid black;
}

.work div {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    flex: 1 1 60%;
    margin-left: 50px;
    margin-top: 20px;
    gap: 0px;
}

/*small screen*/
@media screen and (max-width: 900px) {
    .work aside {
		 padding: 0px 5px;
        margin: 5px;
        border: none;
		font-size: .5em;
		text-align: center;
        text-decoration: underline;
    }
    .about-me aside {
        padding: 0px;
        margin: 1%;
        border: none;
		text-align: center;
		font-size: .5em;
        text-decoration: underline;
		
    }
	.about-me div {		
		margin-top: 2%;
		margin-left:0px;
		padding: 10%;
		font-size: 1.5em
		
	}
	.work div {
		margin-top: 2%;
		margin-left:0px;
		padding: 10%;
	}
}

@media screen and (max-width: 900px) {
    .main {
		display: flex;
		flex-flow: column wrap;
		gap: 5em;
    }
    .about-me {
		display: flex;
		flex-flow: column nowrap;
		gap: 0em;
		
            
	    }  
	.work {
		display: flex;
		flex-flow: column nowrap;
	}
    
}


.run-buddy {
    position: relative;
    flex: 1 1 90%;
}

.run-buddy p {
    position: absolute;
    bottom:30px;
    left: 10px;
    font-size:1.5em;
    border: 3px solid black;
    background-color: #fff;
    padding: 3px;
}

 .run-buddy img {
    height: auto;
    width: 95%;
    padding: 10px;
}

.run-buddy img:hover {
    opacity: 60%;
}

.calculator {
    position: relative;
    width: 1 1 45%;
}

.calculator p {
    position: absolute;
    bottom: 45px;
    left: 30px;
    font-size: 1.5em;
    border: 3px solid black;
    background-color: #fff;
    padding: 3px;
}

.calculator img {
    height: 330px;
    width: 350px; 
    object-fit: cover;
    padding: 30px;  
}

.calculator img:hover {
    opacity: 60%;
}

.password {
    position: relative;
    width: 1 1 45%
}

.password p {
    position: absolute;
    bottom: 45px;
    left: 29.5px;
    font-size: 1.5em;
    border: 3px solid black;
    background-color: #fff;
    padding: 3px;
}
.password img {
    padding: 30px;
    height: 330px;
    width: 350px;
    object-fit: cover;
}

.password img:hover {
    opacity: 60%;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    color: #142850;
    background: rgb(21, 168, 173);
    align-items: center;
    font-size: 1.55vw;
}

.contact-info ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
}

.contact-info ul li a {
    display: block;
    text-decoration: none;
    font-size: 1.55vw;
    padding: 1em;
    color:#142850;
}