*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgb(197, 184, 184);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color:darkblue;
}

header h1 {
    color:#fff;
}

header a {
    text-decoration: none;
    color: #fff;
}

/*styles for navigation*/

/*large screens*/
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}
/*small screens*/
@media all and (max-width: 500px) {
    .navigation {
        justify-content: column;
    }
}

header nav ul li a {
    display: block;
    text-decoration: none;
    padding: 1em;
    color:#fff;
}

/*hero banner*/
.hero {
    background-image: url("images/bubbles.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-blurb {
    color: yellow;
    font-size: 4em;
    text-align: center;
    padding:250px 60px;
    margin: auto;
    width: 60%;
}

h2 {
    font-size: 3em;
}

/*about me section*/
.about-me {
    display: flex;
    flex-flow: row wrap;
    height: 250px;
    gap: 60px;
    margin: 50px;
     
}

.about-me aside {
    flex: 20%;
    padding: 0px 20px;
    margin: 20px;
    text-align: right;
    border-right: .3em solid black;
}

.about-me div {
    margin-top: 20px;
    margin-left: 20px;
    flex: 60%;
    font-size: 2em;
}

/*work section*/
.work {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
}

.work aside {
    flex: 20%;
    padding: 0px 20px;
    margin: 20px;
    text-align: right;
    border-right: .3em solid black;
}

.work div {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    flex: 60%;
    margin-left: 50px;
    margin-top: 20px;
    gap: 0px;
}

.run-buddy {
    position: relative;
}

.run-buddy p {
    position: absolute;
    bottom:30px;
    left: 10px;
    font-size:1.5em;
    border: 3px solid black;
    background-color: #fff;
    padding: 3px;
}

 .run-buddy img {
    height: auto;
    width: 95%;
    padding: 10px;
}

.run-buddy img:hover {
    opacity: 60%;
}

.calculator {
    position: relative;
    width: 45%;
}

.calculator p {
    position: absolute;
    bottom: 45px;
    left: 30px;
    font-size: 1.5em;
    border: 3px solid black;
    background-color: #fff;
    padding: 3px;
}

.calculator img {
    height: 330px;
    width: 350px; 
    object-fit: cover;
    padding: 30px;  
}

.calculator img:hover {
    opacity: 60%;
}

.password {
    position: relative;
    width: 45%
}

.password p {
    position: absolute;
    bottom: 45px;
    left: 29.5px;
    font-size: 1.5em;
    border: 3px solid black;
    background-color: #fff;
    padding: 3px;
}
.password img {
    padding: 30px;
    height: 330px;
    width: 350px;
    object-fit: cover;
}

.password img:hover {
    opacity: 60%;
}

footer {
    width: 100%;
    background: rgb(21, 168, 173);
    text-align: right;
}
